.aboutLayout {
  display: flex;
  height: 100%;
}
.sidenav {
  height: 100%;
  width: 100px;
  background-color: rgba(85, 244, 231, 0.728);
  overflow: auto;
}
.sidenav > ul > li {
  padding: 10px;
}
.about-outlet {
  height: 100%;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
